$primary-color: crimson;
$secondary-color: rgb(134, 34, 54);

section{
    text-align: center;
    margin: 10px 40px;
    width: 95%;
    height: 75vh;
    background-image: url("../media/welcome.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    h1{
        color: $primary-color;
        font-size: 40px;
        position: absolute;
        bottom: 100px;
        left: 50px;
        text-shadow: 5px 5px 5px black, 5px 5px 5px black, -5px -5px 5px black, -5px -5px 5px black;
    }
}

@media (min-width: 768px){
    section{
        height: 85vh;
        h1{
            left: 180px;
        }
    }
}